// ===========================================================
//              Common Css
// ===========================================================

$primery: #0B2B43;
$secondray: #7FC6A4;
$text: #758994;
$accent: #7FC6A4;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap');
$Heebo: 'Heebo',
sans-serif;
$Lato: 'Lato',
sans-serif;

p {
    line-height: 25px;
}

* {
    padding: 0;
    margin: 0;
    color: white;
}

i {
    font-family: $Lato;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

@mixin Border-radious($value) {
    border-radius: $value;
    -webkit-border-radius: $value !important;
    -moz-border-radius: $value !important;
    -ms-border-radius: $value !important;
    -o-border-radius: $value !important;
}

@mixin transition($value) {
    transition: $value !important;
    -webkit-transition: $value !important;
    -moz-transition: $value !important;
    -ms-transition: $value !important;
    -o-transition: $value !important;
}


// @mixin transform($value, $value) {
//     transform: translate($value, value) !important;
//     -webkit-transform: translate($value, value) !important;
//     -moz-transform: translate($value, value) !important;
//     -ms-transform: translate($value, value) !important;
//     -o-transform: translate($value, value) !important;
// }


ul,
li,
a,
p,
span {
    font-family: $Heebo;
    font-size: 16px;
    font-weight: 400;
    color: $text;
    line-height: 1.2em;
}

h1 {
    font-family: $Lato;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.2em;
}

h2 {
    font-family: $Lato;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2em;
}


h3 {
    font-family: $Lato;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
}

h4 {
    font-family: $Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
}

button {
    font-family: $Lato;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.2em;
}

ul {
    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.media {
    img {
        height: 80px;
        width: 100px;
        padding-right: 20px;
        @include Border-radious(100%);
    }

    a {
        text-decoration: none;
    }

    h3 {
        color: $primery;
    }

    i {
        margin-right: 10px;
        font-size: 44px;
        color: $secondray;
    }
}#title {
    h4 {
        margin-bottom: 50px;
        text-decoration-line: underline;
        -moz-text-decoration-line: underline;
        text-decoration-color: $secondray;
        -moz-text-decoration-color: $secondray;
        text-decoration-thickness: 3px;
        text-underline-offset: 20px;
    }

    p {
        line-height: 25px;
    }

    a {
        font-size: 56px;
    }
}

#read-more {
    display: block;
    margin-top: 15px;
    font-size: 15px;

    i {
        color: $secondray;
    }

    color: $secondray;
    text-decoration: none;
}
.btns {
    background-color: #0B2B43;
    font-size: 14px;
    font-family: $Lato;
    font-weight: 400;
    background-color: $secondray;
    color: white;
    border: 1px solid transparent;
    padding: 18px 32px 18px 32px;
    @include transition(.5s);
    font-weight: 600;
}

.btns:hover {
    border-color: $secondray;
    color: $secondray;
    background-color: transparent;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

#manu:hover {
    .dropdown-menu {
        display: block;
    }
}
// ====================================================
//                  Desctop Header section
// =================================================== 


header {
    .top-head {
        font-size: 14px;
        background-color: $primery;
        padding: 10px 0px;
        font-weight: 600;

        i {
            font-size: 14px;
        }

        .social-icons {
            padding: 0px 20px;
            background-color: rgb(255, 255, 255);

            i {
                padding: 15px 10px;
                font-weight: 800;
                color: $primery;
                font-size: 18px;
                @include transition(.5s);
            }

            i:hover {
                color: $secondray;
            }
        }


    }

    nav {
        z-index: 10000000;

        .navbar-nav {
            text-transform: uppercase;
            padding-left: 50px;

            .nav-item {
                padding: 5px 10px;

                .nav-link {
                    font-size: 13px;
                    color: $primery !important;
                    font-weight: 600;
                    font-family: $Lato;
                    @include transition(.5s);
                }

                .active {
                    color: $secondray !important;
                    font-weight: 600;
                    font-family: $Lato;
                }

                .nav-link:hover {
                    color: $secondray !important;
                }
            }

            .dropdown {
                .dropdown-menu {
                    @include Border-radious(0px);
                    border: 1px solid transparent !important;

                    .dropdown-item {
                        font-size: 13px;
                        padding: 15px 20px;
                        color: $primery !important;

                    }

                    .dropdown-item:hover {
                        color: $secondray !important;
                    }
                }
            }
        }

        button {
            padding: 15px 50px;
            border: 1px solid transparent;
            background-color: $primery;
            @include transition(.5s);

            a {
                text-decoration: none;
                font-size: 18px;
                color: white;

            }
        }

        button:hover {
            background-color: #fff;
            border-color: $primery;

            a {

                color: $primery;

            }
        }
    }
}


// ===========================================================
//              banner
// ===========================================================

.banner{position: relative;
    height: 50vh;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.692);
    background-blend-mode: darken;
    h2{
      background-color: $secondray;
      padding: 30px 140px;
      position: absolute;
      top: 88%;
    }

    
}


// ===========================================================
//              .servioces section
// ===========================================================



// ===========================================================
//              Quoto section
// ===========================================================



// ===========================================================
//              latest-project section
// ===========================================================


// ===========================================================
//              client section
// ===========================================================

// ===========================================================
//              team section
// ===========================================================

// ===========================================================
//              Prinching section
// ===========================================================

.main-pro{
    ul{ padding: 0;
        li{
          padding: 10px 0px;
        }
    }
    h3{
        a{  @include transition(.3s);
            color: #0B2B43;
            font-size: 25px;
            font-weight: 500;
        }
        a:hover{
         color: $secondray;
        }

    }
  }
   .side_pro{
       .tab{
           margin-top: 50px;
           padding: 20px;
            p{      padding-bottom: 10px;
               margin: 0;
           a{   @include transition(.3s);
               font-size: 16px;
               font-weight: 400;
               color: $primery;
           }
           a:hover{
               color: $secondray;
           }
          }
          span{
               display: block;
               font-size: 14px;
               color: $text;
               font-weight: 500;
            i{
                color:$text ;
                padding-right: 5px;
            }
           }

           ul{ padding: 0;
               li{ 
                 display: flex;
                  align-items: center;
                  margin-top: 25px;
                   i{
                   color: $secondray;
                   font-size: 20px;
                   padding-right: 20px;
                   }
                   a{
                     color: $primery;
                   }
                   


               }
               li:hover{
                a{
                    color: $secondray;
                }
               }
           }
         }

       .cons{
           padding: 30px;
           background-size: cover;
           background-blend-mode: darken;
           background-color: rgba(0, 0, 0, 0.65);
           p{
               line-height: 26px;
               color: rgba(255, 255, 255, 0.883);
           }
        .fa-phone-alt ,.fa-envelope{
         color: white;
         background-color: $secondray;
         padding: 15px;
         @include Border-radious(10px);
         margin-right: 10px;  
       }
    }

    
      
   }
   
   .import{
        .social-icons {
            padding-left: 20px;
            i {
                margin-right: 5px;
                padding: 12px;
                background-color: $secondray;
                @include Border-radious(100px);
            }

        }
    }

    .comment{display: block;
        background-color: white;
      padding: 80px;
      label{
          padding: 0;
          color: $primery;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 10px;
          margin-top: 25px;
          margin-left: 10px;
      }
      input,textarea,select{
          margin-left: 10px;
          width: 95%;
          padding-bottom: 20px;
          @include Border-radious(0px);
        
      }
      select{
          color: $text;
          font-weight: 400;
          font-family: $Lato;
          font-size: 16px;
          @include Border-radious(0px);
          border: 1px solid rgba(200, 200, 200, 0.651);
      }

      input::placeholder, textarea::placeholder{
        color: $text;
      }
      input:focus, textarea:focus{
        outline: 0px solid transparent;
    }

     
    }


    .contain{
        top: 65%;
        position: absolute;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $primery;
        h3{
            font-size: 35px;
            
        }
        .infor{
            padding: 20px 0px;
          p{   color: white;
               font-weight: 500;
              i{
                  color: $secondray;
                  padding-right: 10px;
              }
              padding-right: 20px;
          }
        }
    }
footer {
    margin-top: 100px;
    padding: 130px 50px 20px 50px;
    background-color: #04131E;

    img {
        height: 20px;
    }

    p {
        line-height: 25px;
    }

    .social-icons {
        i {
            margin-right: 5px;
            padding: 15px;
            background-color: $secondray;
            @include Border-radious(100px);
            @include transition(.3s);
        }

        i:hover {
            font-size: 12px;
            background-color: white;
            color: $secondray;
}
    }

    ul{padding: 0;
        li{padding: 0;
            a{
             color: rgb(248, 248, 248);   
             display: block;
             padding: 5px 0px;
             @include transition(.3s);
            }
            a:hover{
                color: $secondray;
            }
        }
    }
    .media{
        padding: 20px;
        background-color: $primery;
        i{  margin-right: 20px;
            background-color: $accent;
            color: white;
            padding: 10px;
            font-size: 30px;
            
        }
    }
}


// ===========================================================
//              Contact Page
// =================================================================

#contact-info{ 
 
    .title{
        margin-top: 100px;
    }
    .get-tuch{
        .media{
            margin-top: 20px;
            h5{
                color: $primery;
                font-weight: 600;
            }
            i{  
               margin-left: 10px;
               color: white;
                font-size: 35px;
                
            }
            .icon{ 
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $accent;
                height: 70px;
                width: 70px;
                margin-right: 15px;
                
            }
        }

        .social-icons {
          
            i {
                margin: 5px;
                padding: 15px;
                background-color: $secondray;
                @include Border-radious(100px);
                @include transition(.3s);
            }
    
            i:hover {
                font-size: 12px;

        }
    }
    }
}

