// ===========================================================
//              Common Css
// ===========================================================

$primery: #0B2B43;
$secondray: #7FC6A4;
$text: #758994;
$accent: #7FC6A4;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap');
$Heebo: 'Heebo',
sans-serif;
$Lato: 'Lato',
sans-serif;

p {
    line-height: 25px;
}

* {
    padding: 0;
    margin: 0;
    color: white;
}

i {
    font-family: $Lato;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

@mixin Border-radious($value) {
    border-radius: $value;
    -webkit-border-radius: $value !important;
    -moz-border-radius: $value !important;
    -ms-border-radius: $value !important;
    -o-border-radius: $value !important;
}

@mixin transition($value) {
    transition: $value !important;
    -webkit-transition: $value !important;
    -moz-transition: $value !important;
    -ms-transition: $value !important;
    -o-transition: $value !important;
}


// @mixin transform($value, $value) {
//     transform: translate($value, value) !important;
//     -webkit-transform: translate($value, value) !important;
//     -moz-transform: translate($value, value) !important;
//     -ms-transform: translate($value, value) !important;
//     -o-transform: translate($value, value) !important;
// }


ul,
li,
a,
p,
span {
    font-family: $Heebo;
    font-size: 16px;
    font-weight: 400;
    color: $text;
    line-height: 1.2em;
}

h1 {
    font-family: $Lato;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.2em;
}

h2 {
    font-family: $Lato;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2em;
}


h3 {
    font-family: $Lato;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
}

h4 {
    font-family: $Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
}

button {
    font-family: $Lato;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.2em;
}

ul {
    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.media {
    img {
        height: 80px;
        width: 100px;
        padding-right: 20px;
        @include Border-radious(100%);
    }

    a {
        text-decoration: none;
    }

    h3 {
        color: $primery;
    }

    i {
        margin-right: 10px;
        font-size: 44px;
        color: $secondray;
    }
}#title {
    h4 {
        margin-bottom: 50px;
        text-decoration-line: underline;
        -moz-text-decoration-line: underline;
        text-decoration-color: $secondray;
        -moz-text-decoration-color: $secondray;
        text-decoration-thickness: 3px;
        text-underline-offset: 20px;
    }

    p {
        line-height: 25px;
    }

    a {
        font-size: 56px;
    }
}

#read-more {
    display: block;
    margin-top: 15px;
    font-size: 15px;

    i {
        color: $secondray;
    }

    color: $secondray;
    text-decoration: none;
}
.btns {
    background-color: #0B2B43;
    font-size: 14px;
    font-family: $Lato;
    font-weight: 400;
    background-color: $secondray;
    color: white;
    border: 1px solid transparent;
    padding: 18px 32px 18px 32px;
    @include transition(.5s);
    font-weight: 600;
}

.btns:hover {
    border-color: $secondray;
    color: $secondray;
    background-color: transparent;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

#manu:hover {
    .dropdown-menu {
        display: block;
    }
}
// ====================================================
//                  Desctop Header section
// =================================================== 


header {
    .top-head {
        font-size: 14px;
        background-color: $primery;
        padding: 10px 0px;
        font-weight: 600;

        i {
            font-size: 14px;
        }

        .social-icons {
            padding: 0px 20px;
            background-color: rgb(255, 255, 255);

            i {
                padding: 15px 10px;
                font-weight: 800;
                color: $primery;
                font-size: 18px;
                @include transition(.5s);
            }

            i:hover {
                color: $secondray;
            }
        }


    }

    nav {
        z-index: 10000000;

        .navbar-nav {
            text-transform: uppercase;
            padding-left: 50px;

            .nav-item {
                padding: 5px 10px;

                .nav-link {
                    font-size: 13px;
                    color: $primery !important;
                    font-weight: 600;
                    font-family: $Lato;
                    @include transition(.5s);
                }

                .active {
                    color: $secondray !important;
                    font-weight: 600;
                    font-family: $Lato;
                }

                .nav-link:hover {
                    color: $secondray !important;
                }
            }

            .dropdown {
                .dropdown-menu {
                    @include Border-radious(0px);
                    border: 1px solid transparent !important;

                    .dropdown-item {
                        font-size: 13px;
                        padding: 15px 20px;
                        color: $primery !important;

                    }

                    .dropdown-item:hover {
                        color: $secondray !important;
                    }
                }
            }
        }

        button {
            padding: 15px 50px;
            border: 1px solid transparent;
            background-color: $primery;
            @include transition(.5s);

            a {
                text-decoration: none;
                font-size: 18px;
                color: white;

            }
        }

        button:hover {
            background-color: #fff;
            border-color: $primery;

            a {

                color: $primery;

            }
        }
    }
}


// ===========================================================
//              banner
// ===========================================================

.banner{
    padding: 0;
    position: relative;
    height: 50vh;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.692);
    background-blend-mode: darken;
    h2{
    
      background-color: $secondray;
      padding: 30px 140px;
      position: absolute;
      top: 88%;

    }

    
}


// ===========================================================
//              .servioces section
// ===========================================================

.servioces {
    margin-top: 100px;
    padding: 100px 0px;
    background-color: rgb(255, 255, 255);
    background-blend-mode: darken;
    

    .ittems {
        position: relative;
        padding: 15px;

        .content-1,
        .content-2 {
            background-color: #ffffff;
            position: relative;
            padding: 30px;

            .colore {
                z-index: 100;
                position: absolute;
                height: 0%;
                width: 100%;
                top: 100%;
                left: 0;
                @include transition(.4s);
                background-color: #0B2B43;
            }

            .bol {
                position: relative;

                img {
                    width: 60px;
                    margin-bottom: 30px;

                }

                p {
                    line-height: 22px;
                }

                h3 {
                    color: #0B2B43;
                }

                @include transition(.4s);
                z-index: 111;

            }
        }

        .content-1:hover {
            background-color: transparent;

            .colore {
                z-index: 100;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: #0B2B43;
            }

            .bol {

                h3 {
                    color: #ffffff;
                }

                p {
                    color: white;
                }
            }
        }
    }

}


// ===========================================================
//              Quoto section
// ===========================================================
.Quoto{
    position: relative;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
   
    .contact-form{

        
        box-sizing: border-box;
        .back-img{
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 73% 75%;

          
        }
        form{display: block;
            overflow: hidden;
            background-color: white;
          padding: 80px;
          box-sizing: border-box;
          label{
              color: $primery;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
              margin-top: 5px;
          }
          input,textarea,select{
              
              width: 100%;
              padding-bottom: 20px;
              @include Border-radious(0px);
            
          }
          select{
              color: $text;
              font-weight: 400;
              font-family: $Lato;
              font-size: 16px;
              @include Border-radious(0px);
              border: 1px solid rgba(200, 200, 200, 0.651);
          }

          input::placeholder, textarea::placeholder{
            color: $text;
          }
          input:focus, textarea:focus{
            outline: 0px solid transparent;
        }

         
        }
    }
}


// ===========================================================
//              latest-project section
// ===========================================================
.latest-project {
    margin-top: 400px;
    padding: 0px 30px;

    img {
        object-fit: cover;
        height: 450px;
    }

    .con {
        overflow: hidden;
        position: relative;

        .content {

            @include transition(.4s);
            display: flex;
            align-items: flex-end;
            background-color: #0b2b43b7;
            height: 0px;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 30px;

            .content-1 {
                margin-top: 100px;
                @include transition(.3s);
                visibility: hidden;

                p {  @include transition(.3s);
                    line-height: 1px;
                    color: transparent;
                }
            }
        }
    }

    .con:hover {
        .content {

            top: 0;
            left: 0;
            height: 100%;

            .content-1 {
                visibility: visible;

                p { color: white;
                    @include transition(.3s);
                    line-height: 25px;
                }
            }
        }
    }

}

// ===========================================================
//              client section
// ===========================================================
.client {
    margin-top: 100px;

    .tite {
        text-align: center;

        h3 {
            color: #0B2B43;
            font-size: 25px;
        }

        i {
            @include Border-radious(100px);
            padding: 20px;
            font-size: 30px;
            color: white;
            background-color: $secondray;
        }
    }

    .owl-carousel {
        .items {
            h3 {
                font-weight: 300;
                font-style: italic;
                color: #0B2B43;
                line-height: 28px;
            }

            .profile {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }

}

// ===========================================================
//              team section
// ===========================================================
.counteri{
    
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;

    .count{
        margin-top: 20px;
        padding: 50px;
        .count-item{
            padding: 30px;
            background-color: white;
        }

        h2{
            color: $primery;
        }

        .content-1 {
            i {
                font-size: 56px;
                color: $secondray;
            }
    
           
        }
    }

}

// ===========================================================
//              Prinching section
// ===========================================================

.Prinching{
    .con{
        
        .contain{

           h1{
            padding-bottom: 20px;
            }
            h3{
                padding-bottom:10px;  
            }
            padding: 60px 90px;
            ul{ padding: 0;
              li{
                padding: 10px 0px;
              } 
            }
        }
    }
}

footer {
    margin-top: 100px;
    padding: 130px 50px 20px 50px;
    background-color: #04131E;

    img {
        height: 20px;
    }

    p {
        line-height: 25px;
    }

    .social-icons {
        i {
            margin-right: 5px;
            padding: 15px;
            background-color: $secondray;
            @include Border-radious(100px);
            @include transition(.3s);
        }

        i:hover {
            font-size: 12px;
            background-color: white;
            color: $secondray;
}
    }

    ul{padding: 0;
        li{padding: 0;
            a{
             color: rgb(248, 248, 248);   
             display: block;
             padding: 5px 0px;
             @include transition(.3s);
            }
            a:hover{
                color: $secondray;
            }
        }
    }
    .media{
        padding: 20px;
        background-color: $primery;
        i{  margin-right: 20px;
            background-color: $accent;
            color: white;
            padding: 10px;
            font-size: 30px;
        }
    }
}